.header {
  padding: 1rem;
  margin-bottom: 50px;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid transparent;
}

.fixed {
  border-bottom: 1px solid rgb(var(--app-gray-100));
  z-index: 111;
  background-color: rgb(var(--app-gray-default) / 50%);
  backdrop-filter: blur(24px);
  scroll-behavior: smooth;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
}

.header_cotainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_logo {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(var(--app-gray-900));
  font-weight: 700;
}
.hamburger_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_left {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
}
