.skills_main{
    margin-top: 80px;
}

.skills_text{
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(249 250 251);
    margin-bottom: 3rem;
}
.skills_fild{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skills_fild_box{
    width: 152px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.skills_fild_box h6{
    color: rgb(249 250 251); 
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.skills_fild_box svg:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.skills_fild_box img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}